body {
    align-items: center;
    text-align: center;
    background-color: gold;
    font-size: 1.5rem;
    font-family: "Open Sans", Sans-Serif;
}
h1 {
    margin: 0;
}
div {
    margin: 10px;
}
.btn-container {
    margin: 0;
}
#message {
    margin: 10px;
}
#numpoint, #maxpoint {
    margin: 0;
}
button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
#resp1 {
    background-color: aqua;
}
#resp1:hover {
    background-color: darkcyan;
}
#resp2 {
    background-color: lightgreen;
}
#resp2:hover {
    background-color: darkgreen;
}
#resp3 {
    background-color: orange;
}
#resp3:hover {
    background-color: #8b4000;
}
#resp4 {
    background-color: crimson;
}
#resp4:hover {
    background-color: darkred;
}
#restartBtn {
    background-color: white;
}
#restartBtn:hover {
    background-color: gray;
}
#startBtn {
    background-color: purple;
    color: white;
}
#startBtn:hover {
    background-color: #35063e;
}
